@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model productManager.Models.AddProductViewModel

<h1>Add product in Database</h1>
<div class="container">
    <div class="row">
        <form method="post">
            
            <div class="form-group">
                <label>Enter product name:</label>
                <input type="text" class="form-control" asp-for="Name">
            </div>

            <div>
                <label>Enter product Description:</label>
                <input type="text" class="form-control" asp-for="Description" />
            </div>

            <div>
                <label>Enter price:</label>
                <input type="text" class="form-control" asp-for="Price" />
            </div>

            <div>
                <label>Select: </label>
                <select asp-for="TypeId" asp-items="Model.GenderList" class="form-control">
                    <option value="">-- Select Gender --</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" class="form-control" />
            </div>
        </form>
    </div>
</div>
