@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Add Store</h2>

                <div class="mb-3">
                    <label class="form-label">Store Location</label>
                    <input class="form-control" id="storName" />
                    <span class="text-danger"></span>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" id="addStore">Add Store</button>
                </div>
        </div>



        <div class="col-md-12 mt-5">
            <h3>Store List</h3>
            <table class="table table-bordered table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Store Name</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>


    </div>
</div>



@section scripts {
    <script>
        $(document).ready(function () {
            let table = new DataTable('#myTable', {
                responsive: true,

                ajax: {
                    url: '/product/GetStore',
                    type: 'GET',
                    dataSrc: '',
                },

                columns: [
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            return meta.row + 1;
                        }
                    },
                    { data: 'storName' }
                ],

            });
        });


        $('#addStore').on("click", function () {
            let StorName = $('#storName').val();
            let table = $('#myTable').DataTable();


            $.ajax({
                url: '/product/store',
                method: 'POST',
                data: { StorName: StorName },

                success: function (response) {
                    console.log('Added store:', response);
                    $('#storName').val('');
                    table.ajax.reload();
                },


                error: function (err) {
                    console.error(err);
                }
            });
        });


         




    </script>
}
